.ant-carousel, .slick-slide {
    object-fit: cover;
    text-align: center;
    height: 300px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
Image{
    object-fit: cover;
}